<div id="parent" fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      Props
    </mat-toolbar-row>
    <mat-toolbar-row id="filterBar">
      <span fxFlex="1 1 auto"></span>
      <input placeholder="Search">
    </mat-toolbar-row>
  </mat-toolbar>
  <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center">
    <div fxFlexAlign="center">
      No properties listed yet
      <app-property-card></app-property-card>
    </div>
  </div>
  <mat-toolbar id="footer" color="accent">
      <span fxFlex="1 1 auto"></span>
        &copy; ladanski
      <span fxFlex="1 1 auto"></span>
  </mat-toolbar>
</div>
